#clear-button {
    text-align: center;
    margin-top: 100px;
}

.main-container {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 500px;
    margin: 50px auto;
}

.cell {
    border: 1px solid black;
}

.cell:hover {
    background-color: orange;
}
